/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #ffb57d;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav h1 {
  font-weight: 600;
  color: #4f518c;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #f8d9c6;
}

#simSec {
  width: 50vw;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  background-color: #fff1e6;
}

#infoSec {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.infoCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: larger;
  min-width: 180px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background-color: #fb9649;
}

.infoCard span {
  color: #f8d9c6;
  font-weight: 500;
}

#seesawSec {
  height: 75%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 6rem;
  user-select: none;
}

#bar {
  width: 800px;
  height: 25px;
  background-color: #f94144;
  border-radius: 1rem;
  display: flex;
  position: relative;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

#hinge {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #2c2a4a;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

#fulcrum {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 120px solid #2c2a4a;
  transform: translateY(-12.5px);
  z-index: 1;
}

.weightDiv {
  position: absolute;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: content-box;
  white-space: nowrap;
  pointer-events: none;
  transition: transform ease-in 250ms;
  border: 1px solid #f8d9c6;
  color: #2c2a4a;
}

#indicatorSec {
  width: 800px; /* same with bar width */
  height: 100%;
  position: relative;
}

#indicatorDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
  top: 25%;
  min-height: 235px;
  left: 0;
}

#weightInd {
  position: absolute;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: small;
  box-sizing: content-box;
  white-space: nowrap;
  pointer-events: none;
}

#lineInd {
  width: 2px;
  height: 60px;
  flex-grow: 1;
}

.hideIndicator {
  visibility: hidden;
}

#toggle {
  width: 50px;
  height: 20px;
  border: 1px solid black;
  border-radius: 1em;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 1rem;
}

#switch {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  left: -5px;
  transition: transform ease-in-out 0.2s;
}

.switchOn {
  transform: translateX(30px);
}

.toggleOn {
  background-color: green;
  transition: background-color ease-in 0.3s;
}

#randomWeight {
  display: flex;
  justify-content: center;
  align-items: center;
}

#randomWeight span {
  user-select: none;
  color: white;
  font-size: larger;
}

#slider {
  accent-color: #fb9649;
  margin-top: 1rem;
}

#sliderForm {
  user-select: none;
}
#options {
  width: 24vw;
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  background-color: #f28482;
  height: 25%;
}

#listSec {
  height: 25%;
  overflow-y: scroll;
  margin-bottom: 2rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: absolute;
  width: 24vw;
  left: 0;
  margin-left: 0.5rem;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  background-color: #f28482;
}

#weightList {
  transform: rotate(180deg);
}
#weightList li {
  transform: rotate(-180deg);
  color: white;
}

#resetBtn {
  width: 50%;
  margin-top: 1rem;
  font-size: x-large;
  border: none;
  border-radius: 2rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #f94144;
  padding: 0.5rem 0;
  transition: background-color ease-in-out 200ms;
  transition: scale ease-in-out 150ms;
}

#resetBtn:hover {
  background-color: #e63946;
}

#resetBtn:active {
  scale: 0.95;
}
